<% if users.any? %>
  <ul class="list-unstyled">
    <% users.each do |user| %>
    <li>
      <%= user.name %>
      <img src="<%= user.prof_image.url %>" style="width:240px;"><br>
      <%= user.self_introduction %>
      <p><%= link_to 'View profile', user_path(user) %></p>
    </li>
    <% end %>
  </ul>
  <%= paginate users %>
<% end %>