<% if users.any? %>
<div class="row">
    <% users.each do |user| %>
    <div class="col-sm-3 word-wrap">
      <img src="<%= user.prof_image.url %>" style="width:240px;"><br>
      <p><%= user.self_introduction %></p>
      <p> <%= user.name %></p>
      <p><%= link_to 'プロフィール', user_path(user) %></p>
    </div>
    <% end %>
  <%= paginate users %>
  </div>
<% end %>
