<%= render 'users/prof', user: @user %>

<div class="row usersProf_tabs_wrapper">
  <div class="col-lg-12">
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="<%= user_path(@user) %>" class="nav-link <%= 'active' if current_page?(user_path(@user)) %>">写真 <span class="badge badge-secondary"><%= @count_photos %></span></a></li>
      <li class="nav-item"><a href="<%= bookmarkings_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(bookmarkings_user_path(@user)) %>">お気に入り <span class="badge badge-secondary"><%= @count_bookmarks %></span></a></li>
      <li class="nav-item"><a href="<%= followings_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(followings_user_path(@user)) %>">フォロー <span class="badge badge-secondary"><%= @count_followings %></span></a></li>
      <li class="nav-item"><a href="<%= followers_user_path(@user) %>" class="nav-link <%= 'active' if current_page?(followers_user_path(@user)) %>">フォロワー <span class="badge badge-secondary"><%= @count_followers %></span></a></li>
    </ul>
  </div>
</div>

    <% if @followers.any? %>
    <div class="row">
    <% @followers.each do |user| %>
          <div class="col-lg-3 col-md-4 col-sm-6 word-wrap">
            <div class="userIcon_wrapper">
              <div class="userIcon_image">
                <a href="<%= user_path(user) %>"><img src="<%= user.prof_image.prof_thumbnail.url %>"></a>
              </div>
              <div class="userIcon_name">
                <a href="<%= user_path(user) %>"><%= user.name %></a>
              </div>
              <div id="followBtn__area" class="userIcon_followbtn btnId<%= user.id %>">
              <!--フォローボタン-->
              <%= render 'relationships/follow_button', user: user %>
              </div>
            </div>
          </div>
    <% end %>
    </div>
    <%= paginate @followers %>
  <% end %>
