
<% if logged_in? %>
<h1>写真一覧（新着順）</h1>
  <div class="row">

  <% @photos.each do |photo| %>
    <div class="col-sm-3 word-wrap">
      <div class="allPhotoList__box">
      <a href="<%= photo_path(photo.id) %>">
      <img src="<%= photo.image.photo_thumbnail.url %>">
      </a>
      </div>
      <div><%= link_to photo.user.name, user_path(photo.user) %></div>

      <% if current_user != photo.user %>

      <div class="icon__wrapper">

        <div id="goodBtn__area" class="btnId<%= photo.id %>">
        <%= render 'goods/good_button', photo: photo %>
        </div>

        <div id="bookmarkBtn__area" class="btnId<%= photo.id %>">
        <%= render 'bookmarks/bookmark_button', photo: photo %>
        </div>
      </div>

      <% end %>

    </div>
  <% end %>
  </div>

<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the PHOTOS</h1>
      <%= link_to 'ユーザー登録', signup_path, class: 'btn btn-lg btn-primary' %>
      <%= link_to 'ログイン', login_path, class: 'btn btn-lg btn-success' %>
      <%= link_to 'ゲストログイン', guestsessions_path, method: :post, class: 'btn btn-lg btn-success' %>
    </div>
  </div>

  <h1>写真一覧（新着順）</h1>
  <div class="row">
  <% @photos.each do |photo| %>
    <div class="col-sm-3 word-wrap">
      <div class="allPhotoList__box">
      <p><img src="<%= photo.image.url %>"></p>
    </div>
      <p><%= photo.user.name %></p>
    </div>
  <% end %>
  </div>
<% end %>
