<!-- curentuserと:idが同じか分岐 -->

<div class="row">
  <% photos.each do |photo| %>
    <div class="col-lg-3 col-sm-4 word-wrap">
      <div class="userPhotoList__box">
      <a href="<%= photo_path(photo.id) %>"><img src="<%= photo.image.url %>"></a>
      </div>
      <% if current_user == photo.user %>
          <%= link_to "DELETE", photo, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-secondary  btn-sm' %>
      <% else %>
        <% @photo = photo %>
        <%= render 'bookmarks/bookmark_button', photo: @photo %>
        <%= render 'goods/good_button', photo: @photo %>
      <% end %>
    </div>
  <% end %>
</div>
