
<div id="postImage" class="row">
    <div class="col-lg-8 postimage">
      <img src="<%= @photo.image.url %>">
    </div>

    <div class="col-lg-4 ">
      <div class="prof_wrapper clearfix">
        <div class="prof_image">
         <a href="<%= user_path(@user) %>"><img src="<%= @user.prof_image.prof_thumbnail.url %>"></a>

       </div>
       <div class="prof_text">
         <a href="<%= user_path(@user) %>"><%= @user[:name] %></a>
       </div>
       <div class="postimage_followbtn">
         <!--フォローボタン-->
         <%= render 'relationships/follow_button', user: @user %>
       </div>
     </div>
     <% if current_user == @photo.user %>
     <div class="postImgEditBtn">
      <%= link_to "編集する", edit_photo_path, method: :get, class: 'btn btn-primary btn-block' %>
    </div>
     <% end %>

    </div>

 <div class="col-lg-8">
  <% if current_user == @photo.user %>
  <div class="postImgEvaluationBtns__wrapper">
  </div>
  <% else %>

  <div class="postImgEvaluationBtns__wrapper">

    <div id="goodBtn__area" class="btnId<%= @photo.id %>">
    <%= render 'goods/good_button', photo: @photo %>
    </div>

    <div id="bookmarkBtn__area" class="btnId<%= @photo.id %>">
    <%= render 'bookmarks/bookmark_button', photo: @photo %>
    </div>
  </div>


  <% end %>

 </div>
</div>
<div class="row">
 <div class="col-lg-8">
   <h2><%= @photo[:title] %></h2>
   <div>
   <span class="postimage_day">撮影日 <%= @photo[:day] %></span>
   <span class="postimage_equipment">機材 <%= @photo[:equipment] %></span>
   </div>
   <div class="postimage_coment"><%= @photo[:comment] %></div>


 </div>

</div>
